
<link rel="stylesheet" href="/css/contacts.css">
<style media="screen">
	.fragment-body{
		text-align: center;
	}
</style>
<h2>Автопрокат "Форсаж" - Контакты</h2>
<div id="text" style="display: inline-block; width: 70%; text-align: justify;">
      <div id="text-block">

<p>Вы можете связаться с нами любым из нижеперечисленных способов</p>

<p> - позвонить по телефону</p>
<p>+7(3519)45 40 14</p>
<p> +7 912 805 40 14</p><br>


<p> - электронная почта</p>
<p><a href="mailto:prokatf@mail.ru" title="Свяжитесь с нами по электронной почте">prokatf@mail.ru</a></p>
<p><a href="mailto:info@prokat-mgn.ru" title="Дополнительный адрес электронной почты">info@prokat-mgn.ru</a></p><br>

<p style="color:red;">Автомобиль можно забронировать отправив предоплату<br> на банковскую карту №«4276 8720 7677 2764»</p>

<p>Наш адрес: 455000, г. Магнитогорск, ул. Завенягина 4Б, офис 11В. ТЦ "Металлург"</p>
<p><a href="map.php" title="Прокат автомобилей в Магнитогорске - Схема проезда">показать на карте</a></p><br>


<p>Мы всегда рады видеть Вас!</p>

<p>По вопросам, связанным с работой данного сайта пишите на <a href="mailto:admin@prokat-mgn.ru" title="Написать администратору сайта">admin@prokat-mgn.ru</a></p>

</div>
  </div>

<script src="/js/contacts.js" defer></script>
<% if(user.adminMode) { %>
	<script src="/admins/js/contacts.js" defer></script>
<% } %>
