.cards-admin-control-container {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.hidden-edit-block .input-group{
    display: block;
}

.fragment-item {
    /* min-height: 150px; */
}

.news__item .admin-control-container {
    display: flex;
}

.cards-add {
    font-size: 17px;
    width: 100%;
}

/* Стили фрагмента блока и поля настроек */
.fragment-setting-window {
    position: relative;
}

.setting-call-btn {
    top: 0;
    left: 0;
    z-index: 1000000;
    width: 45px;
    height: 45px;
    background: transparent url("/img/settings-icon.png") no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.setting-call-btn.fragment-not-published {
    background: transparent url(/img/settings-icon-not-public.png) no-repeat center;
    background-size: cover;
}

.setting-wrapper {
    display: none;
    position: absolute;
    top: 46px;
    left: 2.5em;
    z-index: 1000000;
    width: auto;
    height: auto;
    background: transparent;
}

.fragment-setting-window.setting-wrapper-show .setting-wrapper {
    display: flex;
    flex-direction: column;
}

.admin-control-container .btn {
    margin: 0px 2px;
}

.admin-panel {
    background: #051738d1;
    border-bottom: 1px #04355f solid;
    border-top: 1px #04355f solid;
    padding: 2px 10px;
    color: #fff;
}

#toggle-admin-mode {
    cursor: pointer;
}
