<link rel="stylesheet" href="/css/doc.css">
<style media="screen">
	.fragment-body{
		text-align: center;
	}
</style>

<h2>Примерный текст договора аренды автомобиля</h2>

<div id="text">
      <div id="text-block" style="display: inline-block;    text-align: justify;">

<div class="page" style="width:205mm; font-size:12px;  margin-top:5px;"><strong>Договор аренды  №	</strong>
				<br>
  автотранспортного средства
             <br>
  <strong> </strong>
  <br>
  г. Магнитогорск							  <br>
  Индивидуальный   предприниматель,   осуществляющий   свою   деятельность  без   образования   юридического   лица,  именуемый  в
дальнейшем  «Арендодатель»,  в  лице  __________________,  действующего  на  основании  Свидетельства  №  ,
с одной стороны, и гражданин (ка)	  ,  именуемый  (ая)  в  дальнейшем
«Арендатор», с другой стороны, заключили настоящий договор о нижеследующем:<br>
<strong>1. Предмет договора.</strong>
<br><br>
1.1 Арендодатель предоставляет Арендатору за плату во временное пользование транспортное средство, далее «ТС», указанное в
Приложении 1 к настоящему договору, без оказания услуг по управлению им.
<br>
1.2 Передача и возврат по истечении срока аренды ТС оформляется актом приема-передачи (Приложение 1 к настоящему договору).
<br><br>
<strong>2. Права и обязанности сторон.</strong>
<br>
<strong>2.1.  Арендодатель обязуется:</strong>
<br>
2.1.1. Предоставить Арендатору ТС во временное пользование с документами, подтверждающими его право на управление ТС на
срок, указанный в пункте 4 настоящего Договора.
<br>
2.1.2. Предоставить ТС в технически исправном состоянии, позволяющем его эксплуатацию, отвечающем требованиям, предъявля-
емым к эксплуатации в соответствии с конструктивным назначением, по акту приема-передачи.
<br>
2.1.3. Ознакомить Арендатора с правилами эксплуатации ТС.
<br>
2.1.4. Принять по истечении срока договора аренды ТС по акту приема-передачи.
<br>
2.1.5. В случае досрочного возврата ТС Арендатором, Арендодатель обязуется возвратить часть оплаты, пропорциональную величи-
не неиспользованного срока аренды. Плата за первые сутки аренды автомобиля не возвращается.
<br>
2.1.6. Производить плановое техническое обслуживание и проводить профилактический осмотр ТС.
<br>
<strong>2.2. Арендодатель вправе:</strong>
<br>
2.2.1. Потребовать досрочного расторжения настоящего договора и возмещения убытков в случае, если Арендатор пользуется иму-
ществом не в соответствии с условиями договора или назначению ТС, умышленно ухудшает его состояние.
           <br>
  2.2.2. Не продлять действие договора без объяснения причин.
  <br>
  <strong>2.3. Арендатор обязуется:</strong>
  <br>
  2.3.1. Предъявить Арендодателю действительные документы на свое имя (гражданский паспорт, водительское удостоверение со ста-
жем не менее 2 лет).
  <br>
  2.3.2. Своевременно производить оплату за временное пользование ТС в соответствии с условиями договора по тарифам, установлен-
ным Арендодателем.
  <br>
  2.3.3. В  случае  передачи  ТС  за  пределами  г. Магнитогорска  отдельно  оплатить  данную  услугу  в  соответствии с прейскурантом
Арендодателя.
  <br>
  2.3.4. Ограничение  суточного  пробега  составляет  400(четыреста)км. Превышение  данного  лимита  Арендатор  обязуется  оплатить
согласно действующим тарифам Арендодателя: 5 руб. (пять рублей) за каждый километр свыше лимита.
  <br>
  2.3.5. Обеспечить сохранность согласно комплектации с момента получения и до момента возврата ТС Арендодателю.
  <br>
  2.3.6. Производить заправку ТС топливом  АИ – 92.
  <br>
  2.3.7. При возврате ТС, не прошедшего мойку, выплатить Арендодателю сумму в размере 400 руб. (четыреста рублей). При сильном
загрязнении выплатить сумму в размере 1500 руб. (одна тысяча пятьсот рублей) за химическую чистку салона.
  <br>
  2.3.8. При возврате ТС с меньшим, чем при передаче его Арендатору, количеством топлива, Арендатор обязуется оплатить разницу,
исходя из стоимости 27 руб. (двадцать семь рублей) за литр бензина.
  <br>
  2.3.9. Управлять ТС с соблюдением правил дорожного движения и иных мер безопасности и условий, предусмотренных действую-
щим законодательством РФ для участников дорожного движения и пользователей ТС.
  <br>
  2.3.10. Покидая ТС, иметь при себе все регистрационные документы на ТС  и ключи.
  2.3.11. Оставлять ТС на охраняемой стоянке в случае неиспользовании его длительное время или в ночное время суток, оформляя
документы об оплате услуг стоянки.
           <br>
  2.3.12. Исключить доступ некомпетентных лиц к ТС.
  <br>
  2.3.13. Незамедлительно уведомлять Арендодателя обо всех технических неисправностях.
  <br>
  2.3.14. В случае ДТП (дорожно-транспортного происшествия) немедленно остановить ТС, включить аварийную световую
сигнализацию и выставить знак аварийной остановки, вызвать на место происшествия инспектора ГИБДД, если это необходимо Скорую
медицинскую помощь, сообщить о ДТП Арендодателю и Страховщику, записать номер и цвет автомобиля, номер, дату и кем выдана
страховка участника ДТП, паспортные данные, контактные телефоны и адреса всех участников ДТП и свидетелей. До прибытия инспектора
ГИБДД не убирать ТС с места ДТП, не перемещать предметы, имеющие отношение к происшествию. Телефон экстренной службы 112.
  <br>
  2.3.15. При хищении ТС немедленно сообщить об этом Арендодателю и в правоохранительные органы.
  <br>
  2.3.16. При хищении ТС предоставить Арендодателю свидетельство о регистрации ТС, все доверенности на право управления, все
полученные от Арендодателя комплекты ключей, брелков.
  <br>
  2.3.17. При хищении или причинении ущерба ТС, а равно при совершении ДТП не препятствовать и оказывать содействие в
осуществлении всех необходимых действий.
  <br>
  <strong>2.4. Арендатор не вправе:</strong>
  <br>
  2.4.1. Управлять ТС в алкогольном и наркотическом опьянении, под действием лекарственных препаратов, при физических и психи- ческих
ческих недомоганиях или расстройствах, не позволяющих объективно воспринимать, оценивать и отдавать отчёт в выполняемых действиях.
  <br>
  2.4.2. Использовать ТС для буксировки и толкания других ТС и для обучения вождению.
  <br>
  2.4.3. Управлять ТС при лишении водительского удостоверения.
  <br>
  2.4.4. Использовать ТС в гонках, спортивных мероприятиях, тестах на скорость, проверках безопасности, использовать для езды
по бездорожью, по дорогам без покрытия.<br>
  2.4.5. Передавать ТС третьим лицам.
           <br>
  2.4.6. Самостоятельно производить ремонт, замену деталей, агрегатов.
  <br>
  <br>
  <br>
Арендатор:___________________________/  /		Арендодатель:___________________________	 		//</div>

<div class="page" style="width:205mm; font-size:12px;  margin-top:5px;"><br>
 2.4.7. Превышать число пассажиров (4 человека) и вес груза (150 кг).
           <br>
  2.4.8. Перевозить опасные, запрещенные, а так же легковоспламеняющиеся грузы.
  <br>
  2.4.9. Сдавать ТС в субаренду, передавать свои права и обязанности по настоящему договору третьему лицу, предоставлять ТС в
безвозмездное пользование, залог, вносить в качестве имущественного вклада или паевого взноса.
  <br>
  2.4.10. Использовать ТС как средство для извоза пассажиров за определенную плату (такси).
  <br>
  2.4.11. Нарушать целостность пломб, установленных на приборной панели и капоте ТС, без согласия Арендодателя.
  <br>
  <strong>3. Ответственность сторон.</strong>
  <br>
  3.1. Арендатор несет ответственность за частичную или полную утрату транспортного средства после его принятия по акту приема-
передачи
  <br>
  3.2. Арендатор самостоятельно и за свой счет несет ответственность по оплате любых штрафов и квитанций, полученных во время
пользования ТС на срок действия настоящего договора.
  <br>
  3.3. Арендатор самостоятельно и за свой счет несет все расходы, связанные с эксплуатацией ТС, включая стоимость бензина.
  <br>
  3.4. Арендатор гарантирует оплату всех издержек, перечисленных в пункте 3 настоящего договора, добровольно, а так же в случае
потери документов или утраты государственного номерного знака. Иначе взыскание с Арендатора задолженности по оплате за прокат,
пени, убытки, доставку аварийного ТС, потерю товарного вида, реальный ущерб, упущенную выгоду, простой во время ремонта и прочие
расходы (такие как судебные или автоэкспертное бюро) производятся в судебном бесспорном порядке по месту нахождения Арендодателя.
  <br>
  3.5. В случае конфискации ТС властями по вине Арендатора и не только, Арендатор обязуется выплачивать все затраты и арендную
плату за весь период конфискации. Медицинское освидетельствование производится за счет Арендатора.
  <br>
  3.6. Арендатор самостоятельно и за свой счет несет ответственность за возможный причиненный ущерб и вред жизни или здоровью
пассажирам, водителю, третьим лицам, а так же багажу и имуществу. Арендатор освобождает от ответственности (претензий) Арендодателя
за потерю или ущерб собственности или ценностям, транспортируемым или оставленным в ТС.
           <br>
  3.7. В случае ДТП:
  <br>
  3.7.1. С ТС,  Арендатор  обязуется  оплатить  Арендодателю  сумму  ремонта ТС и аренды ТС за количество дней простоя, в соответствии с действующим тарифом. Сумму ремонта ТС определяет уполномоченное лицо ИП Кушнин К.В. (Автотехцентр по адресу г. Магни-тогорск, ул. Зеленцова 14). Эта сумма подлежит оплате, если авария произошла по вине Арендатора.
  <br>
  3.7.2. С любым объектом, по неосторожности, невнимательности Арендатора, Арендатор обязуется возместить Арендодателю сумму
ремонта ТС и аренды ТС за количество дней простоя, в соответствии с действующим прайс-листом.
  <br>
  3.7.3. С животным, Арендатор обязуется возместить Арендодателю сумму ремонта ТС и аренды ТС за количество дней простоя, в
соответствии с действующим прайс-листом.
  <br>
  3.8. Арендатор обязуется не допускать падение снега, сосулек с крыш зданий на арендуемое ТС, в противном случае, нанесенный ТС
ущерб Арендатор обязуется возместить Арендодателю сумму ремонта ТС и аренды ТС за количество дней простоя, в соответствии с
действующим прайс-листом.
  <br>
  3.9. Использование Арендатором ТС после окончания срока аренды, указанного в настоящем Договоре, считается НЕСАНКЦИОНИ-
РОВАННЫМ и влечет за собой ответственность, предусмотренную УК РФ. Невозвращенное в срок ТС считается угнанным, и Арендатор соглашается нести дополнительную ответственность, предусмотренную Кодексом об Административных нарушениях РФ или Уголовным Кодексом.
соглашается нести дополнительную ответственность, предусмотренную Кодексом об Административных нарушениях РФ или УК РФ.
  <br>
  <strong>4.  Сроки Аренды ТС.</strong>
  <br>
  4.1. Дата передачи ТС Арендатору:				время
	<br>
  4.2. Дата передачи ТС Арендодателю:				время
             <br>
  4.3 При продлении срока аренды ТС стороны заключают новый Договор или дополнительное соглашение о продлении Договора.
  <br>
  <br>
  <strong>5. Арендная плата и порядок расчетов.</strong>
  <br>
  5.1. Арендная плата исчисляется за полные сутки и составляет 		<strong> руб.</strong> согласно тарифам.<br>
5.2. Арендная плата за прокат ТС вносится Арендатором авансом за весь срок действия договора и составляет	<strong>0	руб.</strong>.
<br>
5.3. В случае опоздания Арендатора, им выплачивается штраф в размере 10% от суточной стоимости проката за каждый начатый час
опоздания, но не более 5 часов.
<br>
5.4. В случае просрочки передачи ТС Арендатором более чем на 5 часов, им выплачивается штраф в размере суточного тарифа,
установленного Арендодателем.
<br>
<strong>6. Форс-мажор.</strong>
<br>
6.1. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по договору, если оно явилось
следствием непреодолимой силы (землетрясение, наводнение, война), если стороны не могли предусмотреть или предвидеть наступление
подобных обстоятельств при заключении настоящего договора.
<br>
<strong>7. Заключительные положения.</strong>
<br>
7.1. Настоящий договор составлен в двух экземплярах, имеющих одинаковую юридическую силу, по одному экземпляру для каждой
из сторон.
<br>
7.2. Любые изменения и дополнения к настоящему договору имеют силу только в том случае, если они оформлены в письменном
виде и подписаны обеими сторонами.
<br>
7.3. К договору прилагается доверенность, акт приема-передачи. ТС считается принятым без претензий только после подписания Акта приема – передачи обеими сторонами.
Акта приема – передачи обеими сторонами.
<br>
<br>
<strong>8. Реквизиты и подписи сторон</strong>
<br>
АРЕНДОДАТЕЛЬ:
<br>
Свидетельство ОГРН
Адрес:
<br>
АРЕНДАТОР:	  	Дата рождения:
<br>
Адрес регистрации:	 ул.  дом/корп  кв.
<br>
Адрес проживания:	 ул.  дом/корп  кв.
<br>
Паспорт: серия		№		выдан
дата выдачи:		0
<br>
Водительское удостоверение:		№		Дата выдачи:			Контактный телефон:

<br><br><br>


Арендатор:________________________/	  	/		Арендодатель:_________________________________//</div>


</div>
  </div>

<script src="/js/doc.js" defer></script>
<% if(user.adminMode) { %>
	<script src="/admins/js/doc.js" defer></script>
<% } %>
