<link rel="stylesheet" href="/css/rules.css">

<style media="screen">
	.fragment-body{
		text-align: center;
	}

</style>

<h2>Условия аренды автомобиля без водителя в Магнитогорске</h2>

<div id="text">
      <div id="text-block" style="width: 70%; display: inline-block; text-align: justify;">

<p><strong>Для предоставления услуги аренды Вам будут нужны следующие документы</strong></p>
<p> - паспорт</p>
<p> - водительское удостоверение(со стажем вождения не менее 2-х лет</p>
<p> - залог(паспорт или 1500 рублей)</p>

<p><strong>Предмет договора</strong></p>

<p>Арендодатель предоставляет Арендатору за плату во временное пользование транспортное средство, далее «ТС»без оказания услуг по управлению им. Передача и возврат по истечении срока аренды ТС оформляется актом приема-передачи</p>

<p><strong>Арендодатель обязуется</strong></p>


<p>Предоставить Арендатору ТС во временное пользование с документами, подтверждающими его право на управление ТС на определенный срок. </p>
<p>Предоставить ТС в технически исправном состоянии, позволяющем его эксплуатацию, отвечающем требованиям, предъявляемым к эксплуатации в соответствии с конструктивным назначением, по акту приема-передачи. </p>
<p>Ознакомить Арендатора с правилами эксплуатации ТС. </p>
<p>Принять по истечении срока договора аренды ТС по акту приема-передачи. </p>
<p>Производить плановое техническое обслуживание и проводить профилактический осмотр ТС.</p>


<p><strong>Арендатор обязуется</strong></p>

<p>Предъявить Арендодателю действительные документы на свое имя (гражданский паспорт, водительское удостоверение со стажем не менее 2 лет).</p>
<p>Ограничение  суточного  пробега  составляет  400(четыреста)км. Превышение  данного  лимита  Арендатор  обязуется  оплатитьсогласно действующим тарифам Арендодателя: 5 руб. (пять рублей) за каждый километр свыше лимита.</p>
<p>Обеспечить сохранность согласно комплектации с момента получения и до момента возврата ТС Арендодателю.</p>
<p>Управлять ТС с соблюдением правил дорожного движения и иных мер безопасности и условий, предусмотренных действующим законодательством РФ для участников дорожного движения и пользователей ТС.</p>
<p>Покидая ТС, иметь при себе все регистрационные документы на ТС  и ключи.</p>
<p>Исключить доступ некомпетентных лиц к ТС.</p>

<p><strong>Арендатор не вправе</strong></p>

<p>Управлять ТС в алкогольном и наркотическом опьянении, под действием лекарственных препаратов, при физических и психических недомоганиях или расстройствах, не позволяющих объективно воспринимать, оценивать и отдавать отчёт в выполняемых действиях.</p>
<p>Использовать ТС для буксировки и толкания других ТС и для обучения вождению</p>
<p>Управлять ТС при лишении водительского удостоверения.</p>
<p>Использовать ТС в гонках, спортивных мероприятиях, тестах на скорость, проверках безопасности, использовать для ездыпо бездорожью, по дорогам без покрытия.</p>
<p>Передавать ТС третьим лицам.</p>
<p>Самостоятельно производить ремонт, замену деталей, агрегатов.</p>
<p>Нарушать целостность пломб, установленных на приборной панели и капоте ТС, без согласия Арендодателя.</p>


<p><strong>Ответственность сторон</strong></p>

<p>Арендатор самостоятельно и за свой счет несет ответственность по оплате любых штрафов и квитанций, полученных во времяпользования ТС на срок действия настоящего договора.</p>
<p>Арендатор самостоятельно и за свой счет несет все расходы, связанные с эксплуатацией ТС, включая стоимость бензина.</p>
<p>Арендатор гарантирует оплату всех издержек, добровольно, а так же в случаепотери документов или утраты государственного номерного знака. Иначе взыскание с Арендатора задолженности по оплате за прокат, пени, убытки, доставку аварийного ТС, потерю товарного вида, реальный ущерб, упущенную выгоду, простой во время ремонта и прочиерасходы (такие как судебные или автоэкспертное бюро) производятся в судебном бесспорном порядке по месту нахождения Арендодателя.</p>

<p><strong>В случае ДТП:</strong></p>

<p>Арендатор  обязуется  оплатить  Арендодателю  сумму  ремонта ТС и аренды ТС за количество дней простоя, в соответствии с действующим тарифом.</p>

<p><strong>Форс-мажор</strong></p>

<p>Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по договору, если оно явилосьследствием непреодолимой силы (землетрясение, наводнение, война), если стороны не могли предусмотреть или предвидеть наступлениеподобных обстоятельств при заключении настоящего договора.</p>


Полный текст договора аренды можно прочитать <a href="/doc" title="Прокат авто в Магнитогорске - Договор">здесь</a>

</div>
  </div>



<script src="/js/rules.js" defer></script>
<% if(user.adminMode) { %>
	<script src="/admins/js/rules.js" defer></script>
<% } %>
